@charset "UTF-8";

.foto {
    border: 2px solid #444;
    border-radius: 100%;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.carrosel div img {
    width: 250px;
    height: 400px;
}