@charset "UTF-8";

:root {
    --azul: #4D7EBF;
    --verde: #17885d;
    --cinza-escuro: #332D2D;
    --vinho-escuro: #754141;
    --vinho: #A03D3D;
    --vermelho: #C32323;
}

@font-face {
    font-family: Assistant;
    src: url(../fonts/Assistant/Assistant-VariableFont_wght.ttf);
}

@font-face {
    font-family: Inika;
    src: url(../fonts/Inika/Inika-Regular.ttf);
}

@font-face {
    font-family: 'Bree Serif';
    src: url(../fonts/Bree_Serif/BreeSerif-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

body {
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: var(--cinza-escuro);
}

.conteudo-principal {
    margin: 80px;
}

.navbar, .projetos {    
    background-color: var(--vinho-escuro);
    color: white;    
}

.navbar {
    display: flex;
    padding: 20px;
    align-items: center;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle-item {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.barra-navegacao {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 9px 9px;
    font-size: 20px;
}

.breeSerif {
    font-family: 'Bree Serif';
}

.inika {
    font-family: Inika;
}

.circulo div {
    color: white;
}

.titulo {
    margin: 0;
    padding: 0;
    font-size: 72px;
    font-weight: 300;
    color: var(--vinho);
}

.subtitulo {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
}

.projetos {
    flex-wrap: wrap;
}

.projetosTitulo, .contato h2 {
    margin: 30px;
}

.projetos, .figures, figure, .contato, form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetos, figure, .contato, .form-control, form {
    flex-direction: column;
}

.figures {
    flex-direction: row;
}

figure {
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

img {
    max-height: 260px;
    display: block;
    transition: transform 0.4s ease;
}

figure figcaption {
    position: absolute;
    inset: 0;
    background: (0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    transition: opacity 0.4s ease;
}

figure:hover img {
    transform: scale(1.1);
}

figure:hover figcaption {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

img, figcaption {
    margin: 10px;
    max-width: 400px;
}

h3 {
    font-weight: 300;
    font-size: 24px;
}

.linha {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: white;
}

.form-control {
    display: flex;
    justify-content: start;
    margin: 10px;
}

.form-control input, .form-control textarea {
    font-size: 20px;
    min-width: 300px;
    font-family: 'Ubuntu';
}

.form-control textarea {
    min-height: 150px;
}

button {
    background-color: var(--vermelho);
    color: white;
    font-size: 25px;
    font-family: 'Ubuntu';
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button {
    margin-bottom: 15px;
}

@media screen and (max-width: 1268px) {
    .coluna-2-itens {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image {
        margin-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-toggle {
        display: flex;
        margin-right: 5vw;
    }

    .barra-navegacao {
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease-out;
    }

    .barra-navegacao.closed {
        max-height: 0;
    }

    .barra-navegacao.open {
        max-height: 300px;
    }
}